<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/task-day-11/assets/styles/custom.css" />
        <link
            rel="stylesheet"
            href="/task-day-11/assets/styles/testimonials.css"
        />
        <title>Testimonials | Personal Web</title>
    </head>
    <body>
        <nav
            class="navbar navbar-expand-lg bg-body-tertiary shadow position-fixed top-0 z-1 w-100"
        >
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="/task-day-11/index.html">
                    <img
                        src="/task-day-11/assets/images/dumbways-logo.png"
                        width="50"
                        height="35"
                        class="d-inline-block align-text-top"
                    />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link fw-semibold"
                                aria-current="page"
                                href="/task-day-11/index.html"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link fw-semibold"
                                href="/task-day-11/project.html"
                                >Add Project</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold active" href="#"
                                >Testimonials</a
                            >
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <a
                            href="/task-day-11/contact.html"
                            class="btn btn-dark"
                        >
                            Contact Me
                        </a>
                    </form>
                </div>
            </div>
        </nav>

        <div class="wrapper">
            <h1>What People Say</h1>
            <div class="filter">
                <button class="filter-btn" rating="0">All</button>
                <button class="filter-btn" rating="1">
                    1 <i class="fa-solid fa-star"></i>
                </button>
                <button class="filter-btn" rating="2">
                    2 <i class="fa-solid fa-star"></i>
                </button>
                <button class="filter-btn" rating="3">
                    3 <i class="fa-solid fa-star"></i>
                </button>
                <button class="filter-btn" rating="4">
                    4 <i class="fa-solid fa-star"></i>
                </button>
                <button class="filter-btn" rating="5">
                    5 <i class="fa-solid fa-star"></i>
                </button>
            </div>
            <div class="testimonials"></div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/c64e7a230f.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="/task-day-11/scripts/view/testimonials.js"
            type="module"
        ></script>
    </body>
</html>
