.wrapper {
    overflow: hidden;
    width: 100%;
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter {
    margin-bottom: 2rem;
    display: flex;
    gap: .5rem;
}
.filter-btn {
    padding-block: .5rem;
    padding-inline: 2rem;
    border: 0;
    color: black;
    background-color: white;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}
.filter-btn i {
    color: goldenrod;
}
.filter-btn:hover {
    background-color: whitesmoke;
    box-shadow: -2px -2px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}
.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.testi-image {
    margin-top: 1rem;
    width: 100%;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}
.testi-text {
    text-align: center;
    margin-bottom: 2rem;
}
.testi-name {
    margin-top: auto;
    margin-bottom: .5rem;
}
.stars i {
    color: goldenrod;
}
.empty-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}
.empty-message h2,
.empty-message p {
    margin: 0;
    text-align: center;
}
.empty-message h2 {
    margin-top: 5rem;
}

/* responsive styling for small screen starts here */
@media screen and (max-width: 1156px) {
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media screen and (max-width: 776px) {
    .wrapper {
        margin-block: 2rem;
    }
    .filter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .testimonials {
        grid-template-columns: repeat(1, 1fr);
    }  
}