.profile-card {
    padding: 5rem;
}

@media screen and (max-width: 1156px) {
    .profile-card {
        margin-inline: 4rem;
    }
}

@media screen and (max-width: 776px) {
    .profile-card {
        padding-inline: 2rem;
    }
}
