.auth-card {
    width: 1000px;
    height: 75vh;
}
input {
    padding-block: 1rem !important;
    padding-inline: 1.5rem !important;
}
input:focus {
    box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.15) !important;
    border-color: darkgrey !important;
}
.input-warning {
    height: 20px;
    transition: height 0.3s ease-in-out;
}
.invisible {
    height: 0;
    transition: height 0.3s ease-in-out;
}
.third-party {
    transition: all 0.3s ease-in-out;
}
.third-party:hover {
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1056px) {
    .auth-card {
        width: 475px;
    }
    .card-item:first-child {
        display: none;
    }
}
